{#
	PARAMS
	field.code  - field code (only a-z,0-9_)
	field.title - field title
	field.name  - field.name (can be an array value like products[123])
	field.value - field value
	field.required -
	field.error - error
	
	language_id - value is defined for the specified language id
	array       - field is in that array
#}

{% set extra_class_value = 'ka-plaintext' %}

{% if template %}
	{% set template = 'template_' ~ template %}
{% else %}
	{%	set template = 'template' %}
{% endif %}
{% extends 'default/template/extension/ka_extensions/common/fields/' ~ template ~ '.twig' %}

{% block field_value %}
		<label class="control-label">{{ field.value }}</label>
{% endblock %}