/*
	$Project$
	$Author$

	$Version$ ($Revision$)

*/

#ka-alert {
	position: fixed;
	top: 10px;
	left: 50%;
    transform: translateX(-50%);
    z-index: 4999;
    min-width: 160px;
}

#ka-alert .alert {
	box-shadow: 9px 9px 4px 0px rgb(0 0 0 / 10%);
	margin-bottom: 10px;
	display: flex;
    flex-direction: row;
    position: relative;
    padding-right: 24px;
}

#ka-alert .alert-dismissible .close {
	position: absolute;
	top: 8px;
	right: 8px;
}

#ka-alert i {
	padding-right: 10px;
    padding-top: 3px;
}
